@media (max-width: 1175px) {
  .main-container {
    margin: 0 4rem;
  }

  .container-sm {
    margin: 0 4.5rem;
  }

  .customer-img {
    width: 25%;
  }

  .detalis-text {
    padding-right: 3rem;
  }

  .details-hd {
    font-size: 2.75rem;
  }

  .detalis-subtext {
    font-size: 1.8rem;
  }
}

@media (max-width: 997px) {
  .container-sm {
    gap: 6rem;
  }
  .display-2 {
    font-size: 4.5rem;
  }
  .text-content {
    font-size: 2rem;
  }
  .modal-container {
    gap: 3rem;
  }

  .detalis-text {
    padding-right: 2.5rem;
  }

  .details-hd {
    font-size: 2.45rem;
  }

  .customer-img {
    margin-right: 3rem;
  }

  .detalis-subtext {
    font-size: 1.7rem;
  }

  .card-content {
    padding: 0 2.75rem;
  }

  .card-container {
    gap: 4rem;
  }

  .copyright {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 875px) {
  .customer-img {
    width: 30%;
  }
  .details-hd {
    font-size: 2rem;
  }

  .detalis-subtext {
    font-size: 1.45rem;
  }

  .client--name {
    font-size: 1.35rem;
  }

  .display-2 {
    font-size: 3.75rem;
  }
  .text-content {
    font-size: 1.75rem;
  }

  .btn-click {
    padding: 1.25rem 2.35rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 820px) {
  .modal-text {
    font-size: 1.75rem;
  }

  .display-3 {
    font-size: 2.75rem;
  }
}

@media (max-width: 840px) {
  .text-content {
    font-size: 1.6rem;
  }

  .display-3 {
    font-size: 3.25rem;
  }

  .modal-container {
    gap: 2rem;
  }

  .modai-sub-text {
    font-size: 1.5rem;
  }

  .details-hd {
    font-size: 1.85rem;
  }

  .detalis-subtext {
    font-size: 1.35rem;
  }

  .card-head {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .text-content {
    font-size: 1.55rem;
  }

  .modal-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-head {
    font-size: 2rem;
  }

  .amount {
    font-size: 1.65rem;
  }

  .btn_click {
    font-size: 0.95rem;
    padding: 0.75rem 1rem;
  }

  .copyright {
    font-size: 1.2rem;
  }

  .details-hd {
    font-size: 1.75rem;
  }

  .customer-img {
    width: 27%;
  }

  .detalis-subtext {
    font-size: 1.25rem;
  }

  .main-container {
    padding: 3rem 0;
  }
}

@media (max-width: 755px) {
  .card-container {
    gap: 2.75rem;
  }

  .card-head {
    font-size: 1.85rem;
  }

  .list-card {
    font-size: 1.43rem;
  }
}
